@viewport {
    width: device-width;
    zoom: 1.0;
}

#header{
    position: fixed;
    top: 0;
    right: 0;
   width: 100%;
   height: 98.25px;
   background-color: midnightblue;
   text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    z-index: 2;
    overflow: auto;
    transition: 0.7s;

}
#logo
{
    height: 200px;
    width:280px; 
    z-index: 8;
    float: left;
    margin-top: -65px;

   position:relative;
    transition: 0.7s;
    behavior: smooth;

}

@media screen and (max-width: 1257px) {
    .sidebar {
        padding-top: 15px;
  
       
    }

        .sidebar a {
            font-size: 18px;
           
        }

        #theBar{
            position:fixed;
        }
    .navBar {
        display: none;
        visibility: hidden;
    }
   
   
}
@media screen and (max-width:900px){
    #col2 {
        width: 50%;
        padding: 0.4%;
        background-color: midnightblue;
    }
    #m {
        padding-left: 0.0%;
    }
    .footer1{
        
    }

  
    }

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(220,220,220,0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: midnightblue;
        display: block;
        transition: 0.3s;
    
    }

        .sidebar a:hover {
            color: #f1f1f1;
            text-decoration:none;
        }

    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
       
    }

.openbtn {
    font-size: 18px;
    cursor: pointer;
    background-color:midnightblue;
    color: white;
    padding: 10px 15px;
    border: none;
}

    .openbtn:hover {
        background-color: none;
        border: none;
        outline: none;
    }
#barContent {
    transition: margin-left .5s;
    padding: 16px;
   
}
#theBar{
 z-index:9;
 top:0;
 right:0;
}


.overlayed {
    background-color: rgba(0,0,0,.6);
}



.row{
   left: 0;
   bottom: 0;
   width: 100%;
   height: 50%;
   background-color: white;
   text-align: center;
    padding-top: 6.8%;
    padding-bottom: 0.7%;
     z-index: -1;
  display: flex;
  align-items: center;
}


#topButton:hover{
  background-color: gainsboro; /* Add a dark-grey background on hover */
  border: none;
  outline: none;
}
#topButton{
    border: none;
    outline: none;
    font-size:20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 99; /* Make sure it does not overlap */

    
        
  background: white; 

}


.btnContainer {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  padding-bottom: 10px;
  padding-right: 30px;
}
.btnContainer .btn-holder {
  justify-content: flex-end;
  display: flex;
}




.footer1 {
   left: 0;
   bottom: 0;
   width: 100%;
   height: 2.7%;
   background-color: midnightblue;
   text-align: center;
   padding-top: 0.7%;
   padding-bottom: 0.7%;
    
}



    .navBar a:link, .footer1 a:link {
        text-decoration: none;
        color: white;
        padding-right: 1.4%;
        padding-left: 1.4%;
    }
    .navBar a:visited, .footer1 a:visited {
        text-decoration: none;
        color: white;
        padding-right: 1.4%;
        padding-left: 1.4%;
    }
    .navBar a:hover, .footer1 a:hover {
        text-decoration: none;
        color: lightgrey;
        padding-right: 1.4%;
        padding-left: 1.4%;
    }

    .navBar a:active, .footer1 a:active {
        text-decoration: none;
        color: lightgrey;
        padding-right: 1.4%;
        padding-left: 1.4%;
    }
.style4, .footer1{
    color: white;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
}


    .navBar{
     float: right;
     padding-right: 260px;
	}
.footer2 {  
   left: 0;
   bottom: 0;
   width: 100%;
   height: 15px;
    background-color: white;
   text-align: center;
    padding-top: 7px;

}
#style2 {
    font-family: sans-serif,arial;
    width:100%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 21px;
    color:midnightblue;
    font-weight: 200;
    
 
}
#style1{
    padding-top: 40px;
    font-family: "Segoe UI",sans-serif;
    font-weight: bold;
    font-size:45px;
    color:midnightblue;
}

#copyright{
    color: grey;
    font-weight: normal;
    font-size: 13px;
}

.aboutHeader {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("buildings.jpg");

    width: 100%;

    height: 50vh;

    background-size: cover;

    background-repeat: no-repeat;

    position: relative;

} 





.column {

   padding-right: 2.04%; 

  float: left;

  width: 50%;

  padding: 0.7%;

  height: 20.4%;

   

}

.column2 {
    padding-top: 30px;
    float: left;
    width: 20%;
    padding: 20px;
    height: 200px;
    background-color: midnightblue;
}

.wordsCol2{

   padding-top:15%;

  text-align: center;

   color:white;

   font-weight:bold;

   

}

.main{

    text-align: center;

    padding-left: 20.4%;

    padding-right: 1.4%;

    padding-bottom:2.7%;

}

#col1{

    color:midnightblue;

     font-weight:bold;

}



.aboutRow:after {

  content: "";

  display: table;

  clear: both;

}

#p{

    text-align: center;

    font-weight:bold;

    font-size:20px

}

#button1 {

  outline: 0;

  display: inline-block;

  padding: 10px 25px;

  color:white;

  background-color: midnightblue;

  text-align: center;

  cursor: pointer;

  border: 3px solid white;

}



#button1:hover {

  background-color: #555;

  color: black;

}


#contentText{
    padding-left: 13.6%;
    padding-right: 13.6%;
    font-size: 15px;
    color: midnightblue;
}
#headerText{
    padding-left: 13.6%;

   color: midnightblue;
}

.investorRelationsContent {
    padding-top: 30px;
    padding-bottom: 30px;

}
.investorRelationsHeader {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("investor.jpg");

    width: 100%;

    height: 50vh;

    background-size: cover;

    background-repeat: no-repeat;

    position: relative;

} 





.investorRelationsText, .causeText, .aboutText, .missionText{

  text-align: center;

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  color: white;

   font-weight: bold;

     padding-top: 60px;

    padding-bottom: 20px;

    padding-left: 20px;

    padding-right: 20px;

}




.causeHeader {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("causeBanner.jpg");

    width:100%;

    height: 50vh;

    background-size: cover;

    background-repeat: no-repeat;

    position: relative;

} 

.tosContent, .touContent, .ppContent {
    padding-top: 100px;
    padding-bottom: 50px;

}


.contactHeader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("contact.jpg");
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.contactText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.contactOuterLayer {
    border-color: white;
    padding-top: 1.7%;
    padding-bottom: 1.7%;
    margin: auto;
   
    max-width: 1000px;
}

.contactContent {
    text-align: center;
    font-size: 20px;
    color: midnightblue;
    width: 400px;
    height: 300px;
    padding: 1.02%;
    background-color: white;
    box-shadow: 0 0 20px grey;
    margin:auto;
}
#emailStyle{
    margin:0;
    padding:0;
    color:midnightblue;
    font-size:20px;
}
#topCardStyle {
    color: midnightblue;
    font-weight:100;
}


.missionHeader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("causeBanner.jpg");
    width: 100vw;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.missionContent{
    text-align: center;
    font-size: 25px;
    color: midnightblue;
    font-weight:200;
    padding-top: 60px;
    padding-bottom: 8.2%;
    padding-left: 8.2%;
    padding-right: 8.2%;
}

.boxer{
    padding: 6.8%;
    padding-top: 0.7%;
    vertical-align: middle;
}
